@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

section{
  flex: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  /* padding-right: 2rem;
  padding-left: 2rem; */
}

.title{
  @apply sm:text-2xl text-xl font-semibold mb-2;
}

@media screen and (max-width:480px){
  .container{
    padding: 0 10px !important;
  }
}

section{
  margin-top: 2rem;
}

.banner_slider {
  aspect-ratio: 5/2;
  overflow-x: hidden !important;
  color: black;
}

.banner_slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  @apply bg-gray-600;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_slider {
  color: white;
}

.category_slider .swiper-slide {
  max-width:120px;
  width: 100%;
  margin-right: 15px !important;
  overflow-x: hidden !important;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next{
  border: 1px solid #fff5;
  background: #0006;
  padding: 6px;
  border-radius: 50%;
  height: 35px;
  width: auto !important;
  aspect-ratio: 1/1 !important;
  top: 55%;
  left: 0;
  user-select: none;
}
.swiper-button-prev::after,
.swiper-button-next::after{
  font-size: 20px !important;
  color: white;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


form input[type='text'],
form input[type='password'],
form input[type='search'],
form input[type='email']{
  @apply bg-light-1 border border-gray-300 text-gray-900 sm:text-sm rounded-md outline-none focus:ring-1 focus:ring-blue-400 block w-full p-2.5;
}

form label{
  @apply block mb-2 text-sm font-medium text-gray-900;
}

hr{
  @apply w-full border-gray-300;
}

button{
  @apply !bg-indigo-500 text-white rounded-md w-full py-2;
}